@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary-mask: linear-gradient(
			45deg,
			transparent,
			white 30%,
			white 90%,
			transparent
		);
	}
	* {
		text-wrap: balance;
	}
	header,
	footer {
		@apply font-playfair font-bold sm:text-2xl text-xl text-white;
	}
	body {
		@apply font-sans text-base dark:bg-black dark:text-myWhite text-black bg-myWhite;
	}

	input {
		@apply text-black;
	}
	img {
		@apply max-w-full h-auto align-middle italic font-semibold text-xl;
	}
	/* ! utils */
	.hoveredPoster {
		@apply opacity-100 hover:opacity-60 transition-all duration-300;
	}
	.uniqueWord {
		@apply font-lobster;
	}
	.bgLightGradient {
		@apply bg-gradient-to-br from-lightBlue to-darkerMain text-black;
	}
	.bgDarkGradient {
		@apply bg-gradient-to-br from-darkBlue to-darkerMain text-white;
	}
	.textGradient {
		background: -webkit-linear-gradient(90deg, #928eb9, #8298e4);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.casualWrapper {
		@apply max-w-7xl px-4 mx-auto;
	}
	.title {
		@apply font-semibold text-lg;
	}
	.btnSc {
		@apply transition-all duration-300 text-xl bg-transparent shadow-none hover:bg-lightBlue text-white font-semibold;
	}
	/* ! default */
	section {
		@apply px-2;
	}
	input {
		@apply placeholder:text-white placeholder:italic;
	}
	.toastContainer {
		@apply rounded-xl bg-contain bg-left;
		background: url(../public/toast.png);
	}
	/* ! nav */
	header,
	footer {
		@apply bg-lightBlue dark:bg-darkBlue py-3;
	}
	.headerContainer {
		@apply flex justify-between items-center;
	}
	.headerInner {
		@apply flex items-center gap-6;
	}
	/* dropdown */
	.activeDropdown {
		@apply flex flex-col gap-1 absolute w-48 z-10  dark:bg-darkBlue bg-lightBlue text-white px-6 py-2 sm:text-base text-sm rounded-xl;
	}
	.hoveredLinks {
		@apply transition-all duration-300;
	}
	.containerMobileNav {
		@apply top-14 bg-lightBlue dark:bg-darkBlue gap-24 w-60 min-h-screen z-50 px-4 py-4 overflow-x-hidden fixed flex flex-col text-3xl;
	}
	.containerMobileNav ul li div {
		@apply text-2xl;
	}
	/* ! search bar */
	.containerSearchBar {
		@apply p-2 text-white absolute w-full text-lg rounded-b-xl z-50;
	}
	.innerSearchBar {
		@apply w-full flex items-center gap-4 border-b-bInput border-opacity-10 border-solid border-b-2 pb-2;
	}
	.innerSearchBar input {
		@apply w-full outline-none text-black placeholder:text-placeholder bg-transparent;
	}
	/* ! banner section */
	.bannerSection {
		background: url(../public/banner-1.jpeg);
		@apply min-h-[60vh] bg-fixed lg:bg-top
			lg:bg-no-repeat lg:bg-contain bg-cover bg-left-top flex justify-center items-center;
	}
	.innerBanner {
		@apply text-xl text-transparent flex items-center justify-end gap-4;
	}
	.innerBanner input {
		@apply bg-transparent outline-2 outline-white border-white  border h-12 rounded-xl py-2 px-6 text-white text-2xl placeholder:text-white placeholder:italic;
	}
	/* ! first section movies */
	.containerPopularMovies {
		@apply grid gap-4 grid-flow-col overflow-x-auto scroll-smooth;
	}
	.containerPopularMovies::-webkit-scrollbar,
	.containerScrollSingleMovie::-webkit-scrollbar {
		@apply w-1 h-3;
	}
	.menuPopularMovies {
		@apply relative grid grid-cols-1 px-6 items-center gap-2 w-full border-b-bCard text-start mx-auto justify-center pb-1 border-opacity-20 hover:opacity-80 text-base;
	}
	.iconPopularMovies {
		@apply absolute left-2;
	}
	.containerPopularDetails {
		@apply flex flex-col gap-4 mb-4;
	}
	.imagePopularDetails {
		@apply rounded-md  object-cover opacity-100 hover:opacity-60 transition-all duration-300;
	}
	.xlImagePopularDetails {
		@apply min-w-[10rem] min-h-[10rem];
	}
	.smImagePopularyDetails {
		@apply min-w-[7rem] min-h-[7rem];
	}
	.buttonPopularDetails {
		@apply absolute top-1 right-1 w-fit h-fit  bg-myWhite  rounded-full;
	}
	.buttonMenuPopularDetails {
		@apply bg-myWhite  text-black rounded-xl absolute top-1 -right-4  py-2 flex-flexColItCen text-sm gap-2;
	}
	.percentagePopularDetails {
		@apply bg-darkBlue border-0 w-10 h-10 text-xs rounded-full flex items-center justify-center absolute -bottom-4 left-0 bg-opacity-60;
	}
	.containerDay {
		@apply flex gap-2 border-2 border-opacity-70 border-bInput w-fit items-center rounded-xl relative;
	}
	.containerDay p {
		@apply p-2 font-semibold;
	}
	.bgDay {
		@apply dark:bgDarkGradient bgLightGradient absolute inset-0 -z-10 h-[40px];
	}
	/* ! bg scroll bar */

	.containerPopularMovies::-webkit-scrollbar-track,
	.containerScrollSingleMovie::-webkit-scrollbar-track {
		@apply dark:bg-lightBlue bg-darkBlue rounded-full;
	}

	.containerPopularMovies::-webkit-scrollbar-thumb,
	.containerScrollSingleMovie::-webkit-scrollbar-thumb {
		@apply bg-lightBlue dark:bg-darkBlue rounded-full;
	}

	.containerPopularMovies::-webkit-scrollbar-thumb:hover,
	.containerScrollSingleMovie::-webkit-scrollbar-thumb:hover {
		@apply dark:bg-darkBlue bg-lightBlue rounded-full;
	}
	.primaryMask {
		mask: var(--primary-mask);
	}
	.bgUrlSlider {
		@apply bg-no-repeat bg-center z-0 bg-cover min-h-[50vh] bg-fixed;
	}
	/* ! container second nav movies */
	.containerSecondNav {
		@apply mt-[4.5rem] p-4 bg-white text-black z-40;
	}
	.containerSecondNav article {
		@apply mx-auto flex casualWrapper justify-center lg:gap-8 md:gap-6 sm:gap-4 gap-2;
	}
	.innerSecondNav {
		@apply flex relative flex-col;
	}
	.transitionSecondNav {
		@apply transition-all duration-200;
	}
	.detailsSecondNav {
		@apply flex items-center gap-2 transitionSecondNav;
	}
	.detailsSecondNav p {
		@apply sm:text-xl md:text-2xl text-lg font-semibold;
	}
	.dropDownSecondNav {
		@apply absolute flex flex-col gap-2 mt-8 text-black font-[600] text-lg bg-white w-max py-3 px-5 rounded-xl -z-10;
	}
	/* ! single movie */
	.containerSingleMovie {
		@apply dark:text-white sm:text-white text-black relative lg:text-2xl sm:text-xl text-base;
	}
	.backDrop {
		@apply absolute w-full sm:h-full h-[32rem];
	}
	.backdropSingleMovie {
		@apply absolute w-full h-full sm:block hidden;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	}
	.containerPoster {
		@apply z-10 mx-auto sm:col-span-1 col-span-full;
	}
	.containerPoster img {
		@apply rounded-2xl sm:w-full w-80;
	}
	.innerSingleMovie {
		@apply grid grid-cols-2 sm:grid-cols-3 z-10 casualWrapper my-8 sm:gap-1 gap-8;
	}
	.detailsSingleMovie {
		@apply col-span-2 flex flex-col z-10 ml-10 gap-2;
	}
	.detailsSingleMovie h2 {
		@apply sm:text-2xl md:text-3xl lg:text-4xl text-xl  font-semibold md:mt-10 mt-0;
	}
	.secondDetailsSingleMovie {
		@apply flex gap-2 md:flex-row flex-col;
	}
	.score-circle {
		position: relative;
		width: 70px;
		height: 70px;
	}
	.score-circle .circle-bg,
	.score-circle .circle {
		/* ! bg nya */
		fill: none;
		/* ! width bordernya */
		stroke-width: 4;
	}

	.score-circle .circle-bg {
		@apply stroke-white;
	}

	.score-circle .circle {
		@apply dark:stroke-darkBlue stroke-lightBlue;
	}

	.score-circle p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		@apply font-semibold;
	}
	/* ! second section single movie */
	.containerScrollSingleMovie {
		@apply col-span-3 flex overflow-x-auto gap-4 scroll-smooth;
	}
	.singleMovieTitle {
		@apply xl:text-xl text-lg font-semibold;
	}
	.secondContainerSingleDetails {
		@apply grid-cols-4 grid mt-3 gap-8;
	}
	.singleDetailsCrsl {
		@apply flex min-w-[9rem] min-h-[9rem] flex-col rounded-xl gap-2 pb-6;
	}
	.singleDetailsCrsl img {
		@apply rounded-xl mb-2;
	}
	.containerDetailsSingleMovie {
		@apply flex flex-col gap-4;
	}
	.secondInnerSingleMovie {
		@apply flex flex-col gap-1;
	}
	.keyword {
		@apply py-2 px-3 rounded-xl lg:text-lg text-base shadow-inner dark:shadow-darkBlue shadow-lightBlue;
	}
	.buttonKeywordMovie {
		@apply keyword w-full text-start textGradient;
	}
	.containerSingleMovieReview {
		@apply flex items-center mb-3 gap-4;
	}
	.innerSingleMovieReview {
		@apply shadow-inner dark:shadow-darkBlue shadow-lightBlue rounded-xl flex flex-col;
	}
	.detailsSingleMovieReview {
		@apply flex m-3 gap-6;
	}
	.detailsSingleMovieReview img {
		@apply w-16 h-16 rounded-full;
	}
	.secondDetailsSingleMovieReviews {
		@apply flex items-center;
	}
	.dateSingleMovie {
		@apply text-myWhite opacity-80 font-light;
	}
	.singleMovieScrollContainer {
		@apply w-fit h-fit mb-4;
	}
	.imgSliderMedia {
		@apply h-[315px] mb-4 mr-2 rounded-xl;
	}
	.shadowButtonImgSliderMedia {
		@apply shadow-inner shadow-lightBlue dark:shadow-darkBlue opacity-80;
	}
	.buttonImgSliderMedia {
		@apply lg:text-2xl md:text-xl sm:text-base text-sm transition-all duration-150 outline-none p-1;
	}
	.buttonImgSliderMedia span {
		@apply dark:text-myWhite dark:opacity-80 text-black opacity-40;
	}
	.headersSingleMovie {
		@apply sm:text-2xl text-xl font-semibold;
	}
	.containerRecomsSingleMovie {
		@apply flex flex-col gap-2 mb-4;
	}
}
